<!DOCTYPE html>
<html>
	<head>
		<title>Macskás blog - Böngésző</title>
		<% include ../../common/head %>
	</head>
	<body>
		
		<% include ../../common/header %>
		
		<div class="container">
			<div class="szovegdoboz">
				<table>
					<tr>
						<th colspan="2">
							Kérlek válasz egy témát
						</th>
					</tr>
					<tr>
						<td id="szoveg">
							<a href="/fajtak">Fajták</a>
						</td>
						<td id="kep">
							<img src="/img/fajtak.jpg" alt="fajták"/>
						</td>
					</tr>
					<tr>
						<td id="szoveg">
							<a href="/betegsegek">Betegségek</a>
						</td>
						<td id="kep">
							<img src="/img/betegsegek.jpg" alt="betegségek"/>
						</td>
					</tr>
					<tr>
						<td id="szoveg">
							<a href="/erdekessegek">Érdekességek</a>
						</td>
						<td id="kep">
							<img src="/img/erdekessegek.jpg" alt="érdekességek"/>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<% include ../../common/footer %>
		<% include ../../common/script %>
		
	</body>
</html>