<!DOCTYPE html>
<html>
	<head>
		<title>Macskás blog - Böngésző</title>
		<% include ../../common/head %>
	</head>
	<body>
		
		<% include ../../common/header %>
		
		<div class="container">
			<div class="szovegdoboz">
				<h1>Kérlek válassz egy témát</h1>
				<div class="row">
					<div class="col-md-5">
						<img class="img-fluid rounded mb-3 mb-md-0" src="/img/fajtak.jpg" alt="">
					</div>
					<div class="col-md-7">
						<h3>Fajták</h3>
						<a class="btn btn-primary" href="/fajtak">Tovább</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<img class="img-fluid rounded mb-3 mb-md-0" src="/img/betegsegek.jpg" alt="">
					</div>
					<div class="col-md-7">
						<h3>Betegségek<!-- (Gyertek gyorsan kitört rajta a kórság) --></h3>
						<a class="btn btn-primary" href="/betegsegek">Tovább</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<img class="img-fluid rounded mb-3 mb-md-0" src="/img/erdekessegek.jpg" alt="">
					</div>
					<div class="col-md-7">
						<h3>Érdekességek</h3>
						<a class="btn btn-primary" href="/erdekessegek">Tovább</a>
					</div>
				</div>
			</div>
		</div>

		<% include ../../common/footer %>
		<% include ../../common/script %>
		
	</body>
</html>