<!DOCTYPE html>
<html>
	<head>
		<title>Macskás blog</title>
		<% include ../common/head %>
	</head>
	<body>
		
		<% include ../common/header %>
		
		<div class="container">
			<div class="szovegdoboz">
				<h1>Üdvözlünk a blogon</h1>
				<p>Szöveg</p>
			</div>
		</div>

		<% include ../common/footer %>
		<% include ../common/script %>
		
	</body>
</html>