<!DOCTYPE html>
<% if (typeof !user) { %>
<% login=false %>
<% } %>
<html>
	<head>
		<title>Macskás blog</title>
		<% include ../common/head %>
	</head>
	<body>
		
		<% include ../common/header %>

		<div class="container">
			<div class="szovegdoboz">
				<% if (!login) { %>
				<h1 class="fancy_text_main"><i><b>Üdvözlünk a Macskás blogon!  :)</b></i></h1>
				<% } else { %>
				<h1 class="fancy_text_main"><i><b>Üdvözlünk a Macskás blogon, <%= nev %>! :)</b></i></h1>
				<% } %>
				<p class="fancy_text_egyeb">Ez a blog macskásoknak, macska imádóknak, illetve leendő macska tartóknak jött létre.</p> 
				<p class="fancy_text_egyeb">Itt meg tekintheted a macska fajtákat, a macska betegségeket, illetve érdekességeket találhatsz a macskákról.</p>
				<% if (!login) { %>
				<p class="fancy_text_egyeb">Új bejegyzés írásához be kell jelentkezni!</p>
				<% } %>
			</div>
		</div>

		<% include ../common/footerFixed %>
		<% include ../common/script %>
		
	</body>
</html>