<!DOCTYPE html>
<html>
	<head>
		<title>Bejelentkezés</title>
		<% include ../common/head %>
	</head>
	<body>

		<div class="container">
			<div id="login-box">
				<div class="logo">
					<img src="https://orig00.deviantart.net/8935/f/2008/270/9/b/ceilican_forest_cat_100x100_by_scaperdeage.png" class="img img-responsive img-circle center-block"/>
					<h1 class="logo-caption"><span class="tweak">B</span>ejelentkezés</h1>
				</div>
				<div class="controls">
					<form method="POST" action="/postLogin">
						<input type="text" name="username" placeholder="Felhasználónév" class="form-control" />
						<input type="password" name="password" placeholder="Jelszó" class="form-control" />
						<button type="submit" class="btn btn-default btn-block btn-custom">Bejelentkezés</button>
					</form>
					<a href="/"><div id="backArrow_Anim">
						<div class="backArrow_Sliding">
							<div class="backArrow"></div>
						</div>
						<div class="backArrow_Sliding delay1">
							<div class="backArrow"></div>
						</div>
						<div class="backArrow_Sliding delay2">
							<div class="backArrow"></div>
						</div>
							<div class="backArrow_Sliding delay3">
						<div class="backArrow"></div>
						</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<% include ../common/script %>
	</body>
</html
