<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include ../common/head %>
</head>
<body>
	<% include ../common/header %>

	<div class="container">
		<div class="szovegdoboz">
			  <body ng-app="CartApp" ng-controller="IndexController">
		            
		        <div class="">                        
		            <div class="row">
		                <div class="app col-xs-12 col-md-8 col-md-offset-2">
		                    <div class="">
		                        <h1 class="fancy_text_main">Köszöntünk a WebShopunkban!</h1>
		                    </div>
		                    
		                    <div ui-view></div>
		                    
		                </div>
		            </div>
		        </div>
		        
		        <div class="col-xs-12 col-sm-5 col-sm-push-7">
		    <div class="panel panel-primary margin_fix">
		        <div class="panel-heading fancy_text_egyeb fancy_ph">Kosár</div>
		        <div class="panel-body fancy_pb">
		            <div ng-if="cart.length == 0">
		                A kosár üres
		            </div>
		            <ul class="list-group fancy_webshop_text">
		                <li class="list-group-item" ng-repeat="item in cart">
		                    {{ item.name }} <span class="label label-info">{{ item.price | currency : 'HUF ' : 0 }}</span> <span class="label label-default">{{ item.amount }} db</span> 
		                    <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeFromCart(item.id)">X</button>
		                </li>
		            </ul>
		            <h3 class="pull-right">Összesen: {{ cartTotal() | currency : 'HUF ' : 0 }}</h3>
		        </div>
		    </div>
		    
		</div>
		<div class="col-xs-12 col-sm-7 col-sm-pull-5">
		    <div class="panel panel-primary margin_fix">
		        <div class="panel-heading fancy_text_egyeb fancy_ph">Termékek</div>
		        <div class="panel-body fancy_pb">
		            <ul class="list-group fancy_webshop_text fancy_pb">
		                <li class="list-group-item" ng-repeat="item in items">
		                    {{ item.name }} - {{ item.price | currency : 'HUF ' : 0 }}
		                    <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="addToCart(item)">Add</button>
		                </li>
		            </ul>
		        </div>
		    </div>            
		    
		</div>
	</div>
	</div>

		        
	        <!-- AngularJS -->
	        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular.min.js"></script>
	        <script src="https://unpkg.com/@uirouter/angularjs@1.0.9/release/angular-ui-router.js"></script>
	        
	        <!-- Az alkalmazás -->
	        <script src="app.js"></script>



	<% include ../common/footerFixed %>
	<% include ../common/script %>
</body>
</html>