<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include ../common/head %>
</head>
<body>
	<% include ../common/header %>




	<% include ../common/footerFixed %>
	<% include ../common/script %>
</body>
</html>