<!DOCTYPE html>
<html>
	<head>
		<title>Betegségek</title>
		<% include ../../common/head %>
		<link rel="shortcut icon" href="https://banner2.kisspng.com/20180409/xle/kisspng-cat-emojipedia-animal-whiskers-cat-face-5acbf984a33cb3.1821056515233171246686.jpg" type="image/x-icon">
	</head>
	<body>
		
		<% include ../../common/header %>
			<div class="container" style="color: black;"> 
			<h1> <i><b> Betegségek: </b></i> </h1>

		</div>

		<div class="container">
			<div class="szovegdoboz">
				<h1><i><i></h1>
			</div>
			<div>
				<a class="a" style="color:yellow;" href=""><b>Az oldal tetejére</b></a><br>
				<a class="a" style="color:yellow;" href="/tema"><b>Vissza</b></a><br>
				<a class="a" style="color:yellow;" href="/"><b>Vissza a kezdőoldalra</b></a>
			</div>
		</div>


		<% include ../../common/footer %>
		<% include ../../common/script %>
		
	</body>
</html>