<!DOCTYPE html>
<html>
	<head>
		<title>Érdekességek</title>
		<% include ../../common/head %>
		<link rel="shortcut icon" href="https://banner2.kisspng.com/20180409/xle/kisspng-cat-emojipedia-animal-whiskers-cat-face-5acbf984a33cb3.1821056515233171246686.jpg" type="image/x-icon">
	</head>
	<body>
		
		<% include ../../common/header %>
			<div class="container" style="color: black;"> 
			<h1> <i><b> Érdekességek: </b></i> </h1>

		</div>

		<div class="container">
			<div class="szovegdoboz p">
				<p> A fekete–vörös teknőctarka, vagy a fehér–fekete–vörös kalikó színű macskák gyakorlatilag minden esetben nőstények, míg a tiszta vörös macskák mintegy 90 százaléka kandúr. Ennek oka, hogy egy X-kromoszómán csak vörös, vagy csak fekete szín öröklődhet. Mivel a nőstény macskáknak 2 „X” nemi kromoszómájuk van, ők az egy X-kromoszómás kandúrokkal ellentétben lehetnek egyszerre vörösök és feketék.</p>
			</div>

			

			<div>
				<a class="a" style="color:black;" href=""><b>Az oldal tetejére</b></a><br>
				<a class="a" style="color:black;" href="/tema"><b>Vissza</b></a><br>
				<a class="a" style="color:black;" href="/"><b>Vissza a kezdőoldalra</b></a>
			</div>

		<% include ../../common/footer %>
		<% include ../../common/script %>
		
	</body>
</html>