<!DOCTYPE html>
<html>
	<head>
		<title>Fajták</title>
		<% include ../../common/head %>
		<link rel="shortcut icon" href="https://banner2.kisspng.com/20180409/xle/kisspng-cat-emojipedia-animal-whiskers-cat-face-5acbf984a33cb3.1821056515233171246686.jpg" type="image/x-icon">
	</head>
	<body>
		
		<% include ../../common/header %>
			<div class="container" style="color: black;"> 
			<h1> <i><b> Macska fajták: </b></i> </h1>

		</div>

		<div class="container">
			<div class="szovegdoboz" style="font-family: cursive;">
				<h1><i>Egy kis történet: <i></h1>
				<p style="font-size: 23px;"><i>A macskatenyésztés eredményeként a házi macska számos fajtáját sikerült kitenyészteni. Egyes fajták kialakításánál a házi macskát vadon élő macskafajokkal keresztezték, így jött létre például a bengáli és a szavanna. A manx, a szfinx és a rex fajták spontán mutáció hatását viselik magukon, mely a tenyésztők munkája révén maradt fent. A fajtákat nagyrészt az európai házi macskából avagy az európai rövid szőrűből és az ázsiai rövid szőrűekből (a recesszív Cs gént örökítő keleti rövid szőrűből és sziámiból) alakították ki. A modernebbnek számító fajták leginkább az Amerikai Egyesült Államokból származnak, mivel az ottani tenyésztők szívesebben kísérleteznek. Gyakran használják fel az amerikai rövid szőrű fajtát, amely valószínűleg az európai rövid szőrűtől származik.

A genetikai vizsgálatok alapján a hosszú szőrű fajták ősei a <span style="color: blue;">török angóra</span> és a <span style="color: blue;">török van</span>. A félhosszú szőrű fajtákból sokáig tartó szelekciós folyamat eredményeként alakultak ki a hosszú szőrű perzsa macskák. A szőrhossz változásának genetikai hátterében a recesszív l gén áll.

A tenyésztés egyes esetekben káros hatással lehet az állatok egészségére. A fehér szőrzet kialakítása például gyakran vezet süketséghez, de az olyan fajtajellemzők is problémát okozhatnak, mint a hiányzó (manx), vagy rövid (bobtail) farok, a lapos (fold) vagy görbe (curl) fülek, a szőrzet hiánya (szfinx) és a megrövidült lábak (munchkin). Az öröklődő betegségekben szenvedő példányok tenyésztése Magyarországon az állatok védelméről és kíméletéről szóló 1998. évi XXVIII. törvény[1] 3. § 4. pontja értelmében <span style="color: red;">állatkínzásnak</span> minősül.</i></p>
			</div>

			<div class="szovegdoboz">
				<table style="width: 100%;">
		            <tr>
						<td><b>Rövid szőrű fajták: </b></td>
					</tr>
					<tr>
						<td>Abesszin</td>
						<td>Amerikai drótszőrű</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/abesszin.jpg" alt="Abesszin"></td>
						<td><img  class="imgfajtak1" src="img/amerikaidrotszoru.jpg" alt="Amerikai drótszőrű"></td>
						
					</tr>
					<tr>
						<td>Bengáli</td>
						<td>Brit rövidszőrű</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/bengali.jpg" alt="Bengáli"></td>
						<td><img  class="imgfajtak" src="img/britrovidszoru.jpg" alt="Brit rövidszőrű"></td>
					</tr>
					<tr>
						<td>Burma</td>
						<td>Burmilla</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/burma.jpg" alt="Burma"></td>
						<td><img  class="imgfajtak" src="img/burmilla.jpg" alt="Burmilla"></td>
					</tr>
					<tr>
						<td>Colorpoint rövid szőrű</td>
						<td>Devon rex</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/colorpointrovidszoru.jpg" alt="Colorpoint rövidszőrű"></td>
						<td><img  class="imgfajtak" src="img/devonrex.jpg" alt="Devon rex"></td>
					</tr>
					<tr>
						<td>Doni szfinx</td>
						<td>Egyiptomi mau</td>

					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/doniszfinx.jpg" alt="Doni szfinx"></td>
						<td><img  class="imgfajtak" src="img/egyiptomimau.jpg" alt="Egyiptomi mau"></td>
					</tr>
					<tr>
						<td>Hócipős</td>
						<td>Japán csonkafarkú</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/hocipos.jpg" alt="Hócipős"></td>
						<td><img  class="imgfajtak" src="img/japancsonkafarku.jpg" alt="Japán csonkafarkú"></td>
					</tr>
					<tr>
						<td>Karthauzi</td>
						<td>Manx</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/karthauzi.jpg" alt="Karthauzi"></td>
						<td><img  class="imgfajtak" src="img/manx.jpg" alt="Manx"></td>
					</tr>
					<tr>
						<td>Orosz kék</td>
						<td>Skót lógófülű</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/oroszkek.jpg" alt="Orosz kék"></td>
						<td><img  class="imgfajtak" src="img/skotlogofulu.jpg" alt="Skót lógófülű"></td>
					</tr>
					<tr>
						<td>Szavanna</td>
						<td>Szfinx</td>
					</tr>
					<tr>
						
						<td><img  class="imgfajtak" src="img/szavanna.jpg" alt="Szavanna"></td>
						<td><img  class="imgfajtak" src="img/szfinx.jpg" alt="Szfinx"></td>
					</tr>
					<tr>
						<td>Sziámi macska</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/sziami.jpg" alt="Sziámi macska"></td>
					</tr>
				</table>
			</div>

			<div class="szovegdoboz">
				<table>
		<tr colspan= "2">
						<td><b>Félhosszú szőrű fajták: </b></td>
					</tr>
					<tr>
						<td>Maine Coon</td>
						<td>Norvég erdei macska</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/mainecoon.jpg" alt="Maine Coon"></td>
						<td><img  class="imgfajtak" src="img/norvegerdei.jpg" alt="Norvég erdei macska"></td>
					</tr>
					<tr>
						<td>Ragdoll</td>
						<td>Szibériai</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/ragdoll.jpg" alt="Ragdoll"></td>
						<td><img  class="imgfajtak" src="img/sziberiai.jpg" alt="Szibériai"></td>
					</tr>
					<tr>
						<td>Tiffany</td>
						<td>Török angóramacska</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/szavanna.jpg" alt="Tiffany"></td>
						<td><img  class="imgfajtak" src="img/torokangora.jpg" alt="Török angóramacska"></td>
					</tr>
					<tr>
						<td>York</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/york.jpg" alt="York"></td>
					</tr>
				</table>
			</div>

			<div class="szovegdoboz">
				<table>
		<tr colspan= "2">
						<td><b>Hosszú szőrű fajták: </b></td>
					</tr>
					<tr>
						<td>Perzsa</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/perzsa.jpg" alt="Perzsa"></td>
					</tr>
				</table>
			</div>

			<div class="szovegdoboz">
				<table>
		<tr colspan= "2">
						<td><b>Hibrid fajták: </b></td>
					</tr>
					<tr>
						<td>Alpine lynx</td>
						<td>Bristol</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/alpinelynx.jpg" alt="Alpine lynx"></td>
						<td><img  class="imgfajtak" src="img/bristol.jpg" alt="Bristol"></td>
					</tr>
					<tr>
						<td>Kanaani</td>
						<td>Szavanna</td>
					</tr>
					<tr>
						<td><img  class="imgfajtak" src="img/kanaani.jpg" alt="Kanaani"></td>
						<td><img  class="imgfajtak" src="img/szavanna.jpg" alt="Szavanna"></td>
					</tr>
				</table>
			</div>
			<div>
				<a class="a" style="color:yellow;" href=""><b>Az oldal tetejére</b></a><br>
				<a class="a" style="color:yellow;" href="/tema"><b>Vissza</b></a><br>
				<a class="a" style="color:yellow;" href="/"><b>Vissza a kezdőoldalra</b></a>
			</div>

		</div>

		<% include ../../common/footer %>
		<% include ../../common/script %>
		
	</body>
</html>