<!DOCTYPE html>
<html>
	<head>
		<title>Macskás blog</title>
		<% include ../common/head %>
		<link rel="shortcut icon" href="https://banner2.kisspng.com/20180409/xle/kisspng-cat-emojipedia-animal-whiskers-cat-face-5acbf984a33cb3.1821056515233171246686.jpg" type="image/x-icon">

	</head>
	<body>
		
		<% include ../common/header %>
		<div class="container" style="color: black;"> 
			<h1> <i><b> Üdvözlünk a Macskás blogon! :) </b></i> </h1>

		</div>
		
		<div class="container">
			<div class="szovegdoboz" style="font-size: 25px;">
				<p>Ez a blog macskásoknak, macska imádóknak, illetve leendő macska tartóknak jött létre.</p> 
				<p>Itt meg tekintheted a macska fajtákat, a macska betegségeket, illetve érdekességeket találhatsz a macskákról. </p>
			</div>
		</div>

		<% include ../common/footer %>
		<% include ../common/script %>
		
	</body>
</html>