<!DOCTYPE html>
<html>
	<head>
		<title>Böngésző</title>
		<% include ../../common/head %>
		<link rel="shortcut icon" href="https://banner2.kisspng.com/20180409/xle/kisspng-cat-emojipedia-animal-whiskers-cat-face-5acbf984a33cb3.1821056515233171246686.jpg" type="image/x-icon">
	</head>
	<body>
		
		<% include ../../common/header %>
		<div class="container">
			<h1 style="color: black;"><i><b>Válassz egy témát!</b></i></h1>
			
		</div>
		
		<div class="container">
			<div class="szovegdoboz">
				<div>
					<table>
					<tr>
						<td id="szoveg">
							<a href="/fajtak"><b>Fajták</b></a>
						</td>
						<td id="kep">
							<img src="/img/fajtak.jpg" alt="fajták"/>
						</td>
					</tr>
					<tr>
						<td id="szoveg">
							<a href="/betegsegek"><b>Betegségek</b></a>
						</td>
						<td id="kep">
							<img src="/img/betegsegek.jpg" alt="betegségek"/>
						</td>
					</tr>
					<tr>
						<td id="szoveg">
							<a href="/erdekessegek"><b>Érdekességek</b></a>
						</td>
						<td id="kep">
							<img src="/img/erdekessegek.jpg" alt="érdekességek"/>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<% include ../../common/footer %>
		<% include ../../common/script %>
		
	</body>
</html>